Modules/01_Body/FirmwareRasPi/ideas.json
[{"id":"bc8cf478.01d168","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"117dcc33.7646b4","type":"mqtt-broker","z":"","name":"mosquitto","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"96082cc6.d4f8a","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"9e635cd8.bd2ec","type":"ui_group","z":"","name":"Default","tab":"96082cc6.d4f8a","order":1,"disp":true,"width":"6","collapse":false},{"id":"913e4e0f.204e","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"36ce4afa.4612a6","type":"mqtt in","z":"bc8cf478.01d168","d":true,"name":"","topic":"distance/front","qos":"2","datatype":"auto","broker":"117dcc33.7646b4","x":130,"y":20,"wires":[[]]},{"id":"47b789c8.351d98","type":"rpi-gpio out","z":"bc8cf478.01d168","d":true,"name":"Horn","pin":"40","set":"","level":"0","freq":"400","out":"pwm","x":770,"y":100,"wires":[]},{"id":"f374645e.779778","type":"inject","z":"bc8cf478.01d168","name":"","topic":"","payload":"40","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":180,"wires":[["58439767.4df888"]]},{"id":"f2e656e3.966768","type":"ui_led","z":"bc8cf478.01d168","group":"9e635cd8.bd2ec","order":2,"width":"1","height":"1","label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"true","valueType":"bool"},{"color":"green","value":"false","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"","x":880,"y":260,"wires":[]},{"id":"58439767.4df888","type":"ui_slider","z":"bc8cf478.01d168","name":"","label":"","tooltip":"","group":"9e635cd8.bd2ec","order":1,"width":"4","height":"1","passthru":true,"outs":"all","topic":"","min":0,"max":"50","step":1,"x":200,"y":260,"wires":[["620e6fb5.29c31","7ffed316.25a90c"]]},{"id":"620e6fb5.29c31","type":"ui_text","z":"bc8cf478.01d168","group":"9e635cd8.bd2ec","order":2,"width":"2","height":"1","name":"","label":"d/cm","format":"{{msg.payload}}","layout":"row-spread","x":370,"y":260,"wires":[]},{"id":"6aad39d5.9e2728","type":"debug","z":"bc8cf478.01d168","name":"checkRangeIn","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":400,"y":360,"wires":[]},{"id":"7ffed316.25a90c","type":"change","z":"bc8cf478.01d168","name":"","rules":[{"t":"set","p":"distance","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"newValue","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":140,"y":320,"wires":[["7c90d0d5.5ee6c","6aad39d5.9e2728"]]},{"id":"26664e1.5ac41b2","type":"debug","z":"bc8cf478.01d168","name":"checkRangeOut","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":560,"y":340,"wires":[]},{"id":"a20be90.b105c18","type":"debug","z":"bc8cf478.01d168","d":true,"name":"afterDelay","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":670,"y":400,"wires":[]},{"id":"16224e27.b903c2","type":"debug","z":"bc8cf478.01d168","d":true,"name":"afterBeeperToggle","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":920,"y":380,"wires":[]},{"id":"7c90d0d5.5ee6c","type":"function","z":"bc8cf478.01d168","name":"checkRange","func":"if (msg.newValue){\n    msg.newValue = false;\n    \n    if (msg.distance >= 32){\n        msg.payload = false;\n        msg.blink = false;\n        msg.delay = 0;\n    }\n    else if (msg.distance < 16){\n        msg.payload = true;\n        msg.blink = false;\n        msg.delay = 0;\n    }\n    else{\n        msg.payload = true;\n        msg.blink = true;\n        msg.delay = 64*(msg.distance-15);\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":420,"wires":[["cc334833.b10918","26664e1.5ac41b2","f2e656e3.966768"]]},{"id":"cc334833.b10918","type":"delay","z":"bc8cf478.01d168","name":"","pauseType":"delayv","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":480,"y":460,"wires":[["d947f68e.84a8e8"]]},{"id":"d947f68e.84a8e8","type":"function","z":"bc8cf478.01d168","name":"toggle","func":"if (msg.blink){\n    msg.newValue = false;\n    msg.payload = !msg.payload;\n    return msg;\n}\nelse{\n    msg={};\n    msg.blink=false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":520,"wires":[["6aad39d5.9e2728","7c90d0d5.5ee6c"]]},{"id":"1786f64.ccda50a","type":"inject","z":"bc8cf478.01d168","name":"","topic":"","payload":"10","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":80,"wires":[["58439767.4df888"]]},{"id":"f18efcad.19c48","type":"inject","z":"bc8cf478.01d168","name":"","topic":"","payload":"25","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":140,"wires":[["58439767.4df888"]]}]