Modules/01_Body/FirmwareRasPi/ui.json
[{"id":"178b5421.8e9b3c","type":"tab","label":"cucaro_UI","disabled":false,"info":""},{"id":"cb1f4992.c7a9a8","type":"ui_tab","z":"","name":"Control","icon":"dashboard","disabled":false,"hidden":false},{"id":"ca5f3424.91e9e8","type":"ui_group","z":"","name":"Home","tab":"cb1f4992.c7a9a8","order":1,"disp":true,"width":"6","collapse":false},{"id":"91ada96e.c5acb8","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"CuCaRo","hideToolbar":"false","allowSwipe":"false","lockMenu":"true","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"b277cfdc.0f64b","type":"ui_spacer","name":"spacer","group":"ca5f3424.91e9e8","order":4,"width":"2","height":"3"},{"id":"4f22bb58.587e64","type":"ui_spacer","name":"spacer","group":"ca5f3424.91e9e8","order":2,"width":"6","height":1},{"id":"5674fbd4.c3f634","type":"ui_slider","z":"178b5421.8e9b3c","name":"","label":"Dir","tooltip":"Dir","group":"ca5f3424.91e9e8","order":3,"width":"2","height":"3","passthru":true,"outs":"end","topic":"","min":"-1","max":"1","step":1,"x":190,"y":120,"wires":[["a4b1742c.251118"]]},{"id":"bbec6ae0.048e88","type":"inject","z":"178b5421.8e9b3c","name":"StartValue Zero","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":180,"y":40,"wires":[["5674fbd4.c3f634","45195fa3.40eb3","eb3245ce.acb5e8"]]},{"id":"45195fa3.40eb3","type":"ui_slider","z":"178b5421.8e9b3c","name":"","label":"Speed","tooltip":"Speed","group":"ca5f3424.91e9e8","order":5,"width":"2","height":"3","passthru":true,"outs":"end","topic":"","min":"0","max":"100","step":1,"x":190,"y":180,"wires":[[]]},{"id":"eb3245ce.acb5e8","type":"ui_slider","z":"178b5421.8e9b3c","name":"","label":"Steer","tooltip":"","group":"ca5f3424.91e9e8","order":6,"width":"6","height":"1","passthru":true,"outs":"end","topic":"","min":"-90","max":"90","step":1,"x":190,"y":240,"wires":[[]]},{"id":"8a50627f.4a148","type":"ui_button","z":"178b5421.8e9b3c","name":"","group":"ca5f3424.91e9e8","order":1,"width":"6","height":"1","passthru":false,"label":"EMERGENCY OFF","tooltip":"","color":"","bgcolor":"red","icon":"","payload":"","payloadType":"str","topic":"","x":240,"y":320,"wires":[[]]},{"id":"a4b1742c.251118","type":"rbe","z":"178b5421.8e9b3c","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":370,"y":120,"wires":[["d7ffe003.474d4"]]},{"id":"d7ffe003.474d4","type":"function","z":"178b5421.8e9b3c","name":"StopOnDirChange","func":"msg.payload=0;\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":120,"wires":[["45195fa3.40eb3"]]}]